<!--
============================================
; Title: about.component.html
; Author: Victor Soto
; Date: 05/12/2024
; Source: https://github.com/buwebdev/web-425/tree/master/week-5
; Icons sourced from: https://icons8.com/
;===========================================
-->
<h1 class="home-title">Welcome to the About Us page</h1>

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">

      <!-- Icon sourced from https://icons8.com/ -->
      <img src="./assets/crowdicon.png" class="icon-color" style="width:100px;height:100px;">

    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>CalcuTools, born in Silicon Valley, was founded by a diverse team of innovators with a shared vision - to simplify life with user-friendly digital tools. Recognizing the universal challenge of understanding and managing loans, they developed solutions to help everyone from students to small business owners to families navigate the complexities of loan interests, monthly payments, and financial terms.</p>

    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">

      <!-- Icon sourced from https://icons8.com/ -->
      <img src="./assets/dollaricon.png" class="icon-color" style="width:100px;height:100px;">

    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Motivated by this, CalcuTools embarked on their first project - the Loan App. The goal was simple yet ambitious: to demystify the world of loans and empower users to make informed financial decisions. The team worked tirelessly, conducting extensive user research to understand the needs of different users.
      </p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">

      <!-- Icon sourced from https://icons8.com/ -->
      <img src="./assets/bulbicon.png" class="icon-color" style="width:100px;height:100px;">

    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>The Loan App, with its intuitive design, caters to all users, from tech-savvy students and entrepreneurs to homeowners planning renovations. Today, CalcuTools continues to innovate, driven by their commitment to their users and their mission.</p>
    </mat-card-content>
  </div>
</div>

<br />
<br />
<br />
<br />
