<!--
============================================
; Title: contact.component.html
; Author: Victor Soto
; Date: 05/12/2024
; Source template: https://github.com/buwebdev/web-425/tree/master/week-5
;===========================================
-->
<h1 class="home-title">Welcome to the Contact Us page</h1>

<div fxLayout="row wrap">
  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon class="icon-color">navigation</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>123 Silicon Valley St.</p>
      <p>Tech City, CA 94043</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon class="icon-color">email</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>support@calcutools.com</p>
    </mat-card-content>
  </div>

  <div fxFlex>
    <mat-card-title class="card-title-icon">
      <mat-icon class="icon-color">phone</mat-icon>
    </mat-card-title>
    <br />
    <mat-card-content class="align-center">
      <p>Office: (123) 456-7890 </p>
      <p>Support: (123) 456-7891</p>
      <p>Fax: (123) 456-7892</p>
    </mat-card-content>
  </div>
</div>

<br />
<br />
<br />
<br />
<div fxLayout="column">
  <p style="text-align: center">
    For any inquiries or support, the best way to reach us is via email. We strive to respond within 24 hours.
  </p>
</div>
