<!--
============================================
; Title: home.component.html
; Author: Victor Soto
; Date: 05/12/2024
; Updated Date: 05/19/2024
; Description: Home Component (Calculator Interface)
; Sources:
;  https://angular.io/api/forms/NgModel
;  https://www.tektutorialshub.com/angular/ngmodel-two-way-data-binding-in-angular/
;===========================================
-->

<h1 class="home-title">Welcome to the Loan Application!</h1>

<div>
  <div fxFlex="50">
    <div class="main-container input-container">
      <mat-card-content>
        <div class="field">
          <label for="loanAmount">Loan amount:</label>
          <input type="text" [(ngModel)]="loanAmount" id="loanAmount">
        </div>
        <br>
        <div class="field">
          <label for="interestRate">Interest rate (ex. 4.5):</label>
          <input type="number" [(ngModel)]="interestRate" id="interestRate">
        </div>
        <br>
        <div class="field">
          <label for="numYears">Number of years:</label>
          <input type="number" [(ngModel)]="numYears" id="numYears">
        </div>
        <br>
        <div class="submit-button">
          <button mat-button (click)="calculatePayment()">Submit</button>
        </div>
      </mat-card-content>
    </div>
  </div>

  <div fxFlex="50">
    <div class="main-container output-container">
      <mat-card-content>
        <br>
        <div class="output-field">
          <p class="output-title">Your monthly payment:</p>
          <br> <br>
          <p class="output-result">{{monthlyPayment | currency}}</p>
        </div>
        <br> <br> <br>
        <div class="output-field">
          <p class="output-title">Interest paid:</p>
          <br> <br>
          <p class="output-result">{{totalInterest | currency}}</p>
        </div>
      </mat-card-content>
      <div>
      </div>
    </div>
  </div>